.button {
  font-family: 'Merriweather', serif;
  text-decoration: none;
  background-color: rgb(140, 61, 53);
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 30px;
}
